/*PC*/



html,body { /* Consigne pour toute la page */
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont, "Clarendon LT", "Lulo Clean", "Georgia" ,"Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.header { /* Bandeau pour le titre */
  height: 256px;
  background: linear-gradient(to right, rgb(174, 21, 19), rgb(33, 68, 125)); /* dégradé */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.3); /*Petite ombre sur le bandeau*/
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 16px;
}

.header-logo img {
  height: 256px;
  text-align: center;
}

.header-btnConnexion{
  position: absolute;
  font-size: 15px;
  height: 40px;
  display: block;
  right: 4%;
  top: 4%;
}


h1{
  margin: 0;
  font-variant: small-caps;
}

h2{
  font-size: xx-large;
  font-variant: small-caps;
  color : rgb(174, 21, 19);
}

.container { /* Position du block */
  display: flex;
}

.content { /* gestion du block text */
  flex: 1;
  min-height: 512px;
  margin-right: 256px;
  margin-left: 128px;
  margin-bottom: 128px;
}

.content p {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.BlockForMatch{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.blockSize{
  flex: 1 1 160px;
  border: 1px solid #c3c3c3;
}

.blockSize p {
  text-align: center;
  font-size: 180%;
  color: rgb(33, 68, 125);
}

.blockSize h3{
  margin: 0px;
  padding: 6px 0px 4px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  background-image: -webkit-linear-gradient(30deg, rgb(33, 68, 125) 80%, #fff 40%);
  background-repeat: no-repeat;
  display: block;
  width: 386px;
  letter-spacing: 1px;
  
}

.footer{
      height: 256px;
      background: linear-gradient(to right, rgb(174, 21, 19), rgb(33, 68, 125)); /* dégradé */
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.3); /*Petite ombre sur le bandeau*/
  }

/* ******************** NAV BAR ******************** */
.topnavPC {
  background-color: #333;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.topnav_link {
  color:rgba(255, 255, 255, 1);
  padding: 12px;
  text-decoration: none;
  margin: 0 15px 0 15px;
}

.topnavPC_link .fa {
  margin-right: 8px;
  margin-left: 8px;
}

.topnavPC_link:hover {
  color: white;
  background-color: rgba(80, 79, 79, 1);
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

#home_link{
  display: none;
}

